body{
    background-color: rgba(245, 245, 14) !important;
}

body .bg-dark{
    background-color: black !important;
}

.jumbotron{
    background-image: url("./images/Shah.jpg");
    color: blanchedalmond;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    font-weight: bold;
    margin-top: 24px;
}

.carousel{
    margin:0px 11vw;
}

#home{
    padding-top: 7vh;
}

#slides{
    padding:7vh 0px 0px 0px;
}

.cardhold{
    padding: 5vh 0px 0px 0px;
    margin-top: 60px;
    
}

.formhold{
    border-radius: 35px;
    background-color: white !important;
    padding: 7vh 0px;
    margin-bottom: 26vh;
    margin-top: 9vh;
}

